.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.header img:hover {
    cursor: pointer;
    filter: hue-rotate(180deg);
    -webkit-filter: hue-rotate(-20deg);
}

.header ul {
    display: flex;
    gap: 20px;
}

.header li {
    list-style: none;
    overflow: hidden;
    position: relative;
}

.header a {
    text-decoration: none;
    overflow: hidden;
    position: relative;
}

.header a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: #876445;
    opacity: 1;
    transform: translate3d(-100%, 0, 0);
    transition: opacity 300ms, transform 300ms;
}

.header a:hover::after,
.header a:focus::after {
    transform: translate3d(0, 0, 0);
}

.header a:hover {
    color: #CA965C;
    cursor: pointer;
}

.header a:visited {
    color:inherit;
}